<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page_title }} | Book Tags</title>
    <style>{{ css_main|safe }}</style>
    <style>{{ css_icons|safe }}</style>
    <style>{{ css_exp|safe }}</style>
</head>

<body class="bg-gray">
    <div class="container">
        <header class="navbar mt-2 mb-2">
            <section class="navbar-section">
                <a href="/" class="navbar-brand mr-2">Book Tags</a>
            </section>
            <section class="navbar-section">
                <a href="/suggest" class="btn btn-link ml-2">Make a suggestion</a>
                <a href="/search" class="btn btn-link ml-2">Search</a>
            </section>
        </header>
    </div>

    {% block content %}{% endblock %}

    <div class="text-center bg-dark text-light" style="padding: 2.5rem .5rem 1.5rem .5rem;">
        <div class="container grid-lg">
            <div class="columns">
                <div class="column col-6">
                    <h5>Social</h5>
                    <p>&lt;none yet&gt;</p>
                </div>
                <div class="column col-6">
                    <h5>Contact</h5>
                    <p>txurtian@yahoo.com</p>
                </div>
                <div class="column col-12">
                    <p>&copy; 2018 Ian Cronkright</p>
                    <p>Built by <a href="https://gitlab.com/Txuritan">Ian Cronkright</a>. Licensed under the <a href="https://gitlab.com/Txuritan/booktags/blob/master/LICENSE">MIT License</a>.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>