{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="empty">
        <div class="empty-icon">
            <i class="icon icon-people"></i>
        </div>
        <p class="empty-title h5">No books in this library</p>
        <p class="empty-subtitle">Click the button to start a conversation.</p>
        <div class="empty-action input-group input-inline">
            <input class="form-input" placeholder="" type="text">
            <button class="btn btn-primary input-group-btn">Search</button>
        </div>
    </div>
</div>
{% endblock content %}