{% extends "base.html" %}

{% block content %}
    <div class="text-center" style="padding: 1.5rem .5rem;">
        <div class="container grid-lg">
            <h4 id="what-is-book-tags">What is Book Tags?</h4>
            <p>Book Tags is a project that I started after seeing this <a href="/katy-l-woods-post.jpg">Tumblr post</a>. It was created to add tags (like the ones you find of Archive of Our Own) to books.</p>
        </div>
    </div>

    <div class="text-center bg-dark text-light" style="padding: 1.5rem .5rem;">
        <div class="container grid-lg">
            <h4 id="who-am-i">Who am I?</h4>
            <p>Im a hobby programmer from Flint. One who actually needs to complete a project for once in his life.</p>
        </div>
    </div>

    <div class="text-center" style="padding: 1.5rem .5rem;">
        <div class="container grid-lg">
            <h4 id="what-is-book-tags">A book doesn't exist, how can I add it?</h4>
            <p>As of right now Book Tags uses Google Form for book and tag submissions. Click the 'Make a suggestion' button or this <a href="/suggest">link</a></p>
        </div>
    </div>
{% endblock content %}