{% extends "base.html" %}

{% block content %}
    <div class="text-center" style="padding: 4.5rem .5rem;">
        <div class="container grid-lg">
            <h2>Book Tags</h2>
            <h5>Bringing Archive of Our Own tags to books</h5>
            <p>
                <form class="empty-action input-group input-inline" method="GET" action="/search" >
                    <input class="form-input" name="search" placeholder="" type="text" >
                    <button class="btn btn-primary input-group-btn" type="submit">Search</button>
                </form>
            </p>
            <p class="text-gray">Version: {{ version }}</p>
        </div>
    </div>

    <div style="padding: 0 .5rem 4.5rem .5rem;">
        <div class="container grid-lg mt-2 mb-2">
            <div class="btn-group btn-group-block">
                <button class="btn">first button</button>
                <button class="btn">second button</button>
                <button class="btn">third button</button>
            </div>
        </div>

        <div class="container grid-lg">
            <div class="tile bg-secondary">
                <div class="tile-icon">
                    <img class="ml-2 lazy" width="50px" data-src="/katy-l-woods-post.jpg">
                </div>
                <div class="tile-content">
                    <p class="tile-title">The Avengers</p>
                    <p class="tile-subtitle">Earth's Mightiest Heroes joined forces to take on threats that were too big for any one hero to tackle...</p>
                </div>
            </div>
        </div>

        <div class="container grid-lg mt-2 mb-2">
            <div class="btn-group btn-group-block">
                <button class="btn">first button</button>
                <button class="btn">second button</button>
                <button class="btn">third button</button>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let lazyImages = [].slice.call(document.querySelectorAll("img.lazy"));
            let active = false;

            const lazyLoad = function() {
                if (active === false) {
                    active = true;

                    setTimeout(function() {
                        lazyImages.forEach(function(lazyImage) {
                            if ((lazyImage.getBoundingClientRect().top <= window.innerHeight && lazyImage.getBoundingClientRect().bottom >= 0) && getComputedStyle(lazyImage).display !== "none") {
                                lazyImage.src = lazyImage.dataset.src;
                                lazyImage.classList.remove("lazy");

                                lazyImages = lazyImages.filter(function(image) {
                                    return image !== lazyImage;
                                });

                                if (lazyImages.length === 0) {
                                    document.removeEventListener("scroll", lazyLoad);
                                    window.removeEventListener("resize", lazyLoad);
                                    window.removeEventListener("orientationchange", lazyLoad);
                                }
                            }
                        });

                        active = false;
                    }, 200);
                }
            };

            document.addEventListener("scroll", lazyLoad);
            window.addEventListener("resize", lazyLoad);
            window.addEventListener("orientationchange", lazyLoad);

            lazyLoad();
        });
    </script>
{% endblock content %}