{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="empty">
            <div class="empty-icon">
                <i class="icon icon-3x icon-search"></i>
            </div>
            <p class="empty-title h5">No books in this library</p>
            <p class="empty-subtitle">Click the button to start a conversation.</p>
            <form class="empty-action input-group input-inline" method="GET" action="/search" >
                <input class="form-input" name="search" placeholder="" type="text" >
                <button class="btn btn-primary input-group-btn" type="submit">Search</button>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let lazyImages = [].slice.call(document.querySelectorAll("img.lazy"));
            let active = false;
        
            const lazyLoad = function() {
                if (active === false) {
                    active = true;
                
                    setTimeout(function() {
                        lazyImages.forEach(function(lazyImage) {
                            if ((lazyImage.getBoundingClientRect().top <= window.innerHeight && lazyImage.getBoundingClientRect().bottom >= 0) && getComputedStyle(lazyImage).display !== "none") {
                                lazyImage.src = lazyImage.dataset.src;
                                lazyImage.classList.remove("lazy");
                            
                                lazyImages = lazyImages.filter(function(image) {
                                    return image !== lazyImage;
                                });
                            
                                if (lazyImages.length === 0) {
                                    document.removeEventListener("scroll", lazyLoad);
                                    window.removeEventListener("resize", lazyLoad);
                                    window.removeEventListener("orientationchange", lazyLoad);
                                }
                            }
                        });
                    
                        active = false;
                    }, 200);
                }
            };
        
            document.addEventListener("scroll", lazyLoad);
            window.addEventListener("resize", lazyLoad);
            window.addEventListener("orientationchange", lazyLoad);
            
            lazyLoad();
        });
    </script>
{% endblock content %}