{% extends "base.html" %}

{% block content %}
    <div style="padding: 4.5rem .5rem;">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfg3cxqZkmmxQnxihC2u7XkPDgstldpADrFK2VnaQPolvWaWg/viewform?embedded=true" width="700" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
{% endblock content %}